/* Mode 1 */
/* color */
$grey-grey100: #0d0d0d;
$grey-grey25: #ededed;
$grey-grey50: #8c8c8c;
$grey-grey75: #484848;
$primarios-complementary: #f1aeff;
$primarios-hover: #ab25c6;
$primarios-primary: #320455;
$primarios-secondary: #aa6dff;
/* Mode 1 */
/* number */
$interlineado-body-s: 20px;
$interlineado-body-m: 24px;
$interlineado-heading3: 28px;
$interlineado-heading2: 45px;
$interlineado-heading1: 60px;
$tamaño-body-s: 14px;
$tamaño-body-m: 16px;
$tamaño-heading3: 20px;
$tamaño-heading2: 32px;
$tamaño-heading1: 48px;
/* string */
$fuente-encabezados: Roboto Slab;
$fuente-textos: Noto Sans;